@import url(sanitize.css);

body {
    width: 900px;
    animation: bgchange 10s ease infinite;
    margin: 10px auto;
}

@keyframes bgchange {
    0% {
        background: linear-gradient(white, #808080);
    }

    100% {
        background: linear-gradient(#808080, white);
    }
}

img {
    width: 900PX;
    height: 500PX;
}

header {
    font-size: 50px;
    text-align: center;
    font-family: 'Noto Naskh Arabiv';
    vertical-align: bottom;
    line-height: 0.3em;
}

h2 {
    font-size: 40PX;
    text-align: center;
    vertical-align: top;
    line-height: 0.3em;
}

h3 {
    font-size: 25px;
    color: red;
    line-height: 0.5em;
    margin-left: 30px;
}

p {
    margin: auto 65px;
    font-size: 22PX;
}

section {
    float: left;
    font-size: 15.2px;
    font-weight: bold;
    text-align: center;
    line-height: 0.8em;
    border: 0.5px dotted gray;
    padding: 1px;

}

li {
    text-align: left;
    line-height: 1em;
    padding: 1px;
}

.music {
    float: left;
    margin: 10px;
}

.open {
    cursor: pointer;
    /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
    font-size: 16px;
    margin: 3px 5px;
    text-align: center;
    line-height: 1em;

}

input {
    display: none;
    /* label でコントロールするので input は非表示に */
}

.overlay {
    display: none;
    /* input にチェックが入るまでは非表示に */
}

input:checked+.overlay {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.window {
    width: 700px;
    max-width: 700px;
    height: 700px;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.window img {
    width: 600pX;
    height: 600px;
}


.close {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 40px;
}

a {
    color: black;
    text-decoration: none;
}

h6{
    margin: 0px auto;
    font-size: 20px;
}