body{
    width: 900px;
    margin: 0px;
    margin: 10px auto;
    background-color: powderblue;
  }

  .block-one {
    display: none;
    position: absolute;
   text-align: center;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .block-one img{
      width: 900px;
      height: 700px;
  }

header img{
    width: 900px;
    height: 1800px;
}
h1{
    text-align: center;
    color:#da70d6;
    line-height: 0.8em;
    font-family: serif;
}
iframe{
    margin:auto 90px;
}
  
